<ion-view title="About us">
	  <ion-nav-buttons side="left">
	    <a class="button button-clear icon ion-ios-arrow-back" href="#/app/map"> </a>
	  </ion-nav-buttons>
	<ion-header-bar class="bar-dark">
	      <h1 class="title">About us</h1>
	    </ion-header-bar>
	
	<ion-content >	
	<div class="card">
		<div class="item item-divider" style="text-align:center">
		  <img src="img/w.png" align="middle">
		</div>
		<div class="item item-text-wrap" >
		<p>This mobile app is developed by Western Michigan University (WMU) as part of a study that aims to build and experiment with an intelligent software system that enables citizens to use a mobile app to inform local authorities of risk factors on local running, and cycling routes. To achieve the goals of this study, the mobile app collects anonymous data only about the used features of the mobile app and self-reported risk factor and biking data. Use of this mobile app will contribute to the safety of the local community and is highly appreciated. There are no  foreseeable risks associated with the use of this mobile app. However, if you feel  uncomfortable using it, you can uninstall it anytime. Your reported data is anonymous and will be strictly confidential. Data collected from this mobile app will be reported only on an aggregate basis. This is not a commercial product and we are open to customize this app based on your input and needs.
		<br>If you have any questions, please contact the Project Director Dr. Ala Al-Fuqaha through e-mail (ala.al-fuqaha@wmich.edu) or telephone [269.276.3868].Thank you very much for your time and support.</p>
		</div>
	</div>
 	</ion-content>
</ion-view>