<ion-view title="Help">
  <ion-nav-buttons side="left">
    <a class="button button-clear icon ion-ios-arrow-back" href="#/app/map"> </a>
  </ion-nav-buttons>
<ion-header-bar class="bar-dark">
      <h1 class="title">Help</h1>
    </ion-header-bar>

    <ion-content >
    <ion-slide-box show-pager="true" does-continue="false" on-slide-changed="slideHasChanged($index)">
  <ion-slide>
  <p Style="text-align:center">The first page you will see when open the app.</p>
    <div class="row"><div class="col col-offset-10"><img src="img/app1.jpg" style="width:90%; text-align:center"></div></div>
  </ion-slide>
  <ion-slide>
  <p Style="text-align:center"> Select reports through overlay button.The reports are showing base on 3 category.</p>
    <div class="row"><div class="col col-offset-10"><img src="img/app2.jpg" style="width:90%; text-align:center"></div></div>
  </ion-slide>
    <ion-slide>
    <p Style="text-align:center"> The menu has option for viewing your track or sending us feedback,etc.</p>
    <div class="row"><div class="col col-offset-10"><img src="img/app3.jpg" style="width:90%"></div></div>
  </ion-slide>
    <ion-slide>
    <p Style="text-align:center">See your history tracking with details. When you click on "See elevation on map" your route with the elevation will show up.</p>
    <div class="row"><div class="col col-offset-10"><img src="img/app4.jpg" style="width:90%; text-align:center"></div></div>
  </ion-slide>
      <ion-slide>
    <p Style="text-align:center">When tap and hold on the map the reporting page will show up.Also you are able to select the "Report Hazards"" button which will get your current location to send the report
</p>
    <div class="row"><div class="col col-offset-10"><img src="img/app7.jpg" style="width:90%; text-align:center"></div></div>
  </ion-slide>
    <ion-slide>
    <p Style="text-align:center">Select the photo listed when tap or click on "Report Hazards", then select the severity of the risk and send the report. your report will be shown on the map.
    </p>
    <div class="row"><div class="col col-offset-10"><img src="img/app8.jpg"  style="width:90%; text-align:center"></div></div>
  </ion-slide>
      <ion-slide>
    <p Style="text-align:center">You can contact us about our app.Your feedback is important for us.</p>
    <div class="row"><div class="col col-offset-10"><img src="img/app5.jpg"  style="width:90%; text-align:center"></div></div>
  </ion-slide>

</ion-slide-box>
    </ion-content>
    </ion-view>